In [11]:
import pandas 
from sklearn.preprocessing import LabelEncoder
Data = pandas.read_csv('D:/Python/File Handling/car_price_Encode.csv')

Label = LabelEncoder()
Data['Car Model'] = Label.fit_transform(Data['Car Model'])
Data

X = Data.drop(['Sell Price($)'],axis='columns')
Y = Data['Sell Price($)']

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=1)
model = linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [31]:
X_train

    Car Model  Mileage  Age(yrs)
10          2    83000         7
1           1    35000         3
6           0    52000         5
0           1    69000         6
7           0    72000         6
12          2    59000         5
9           2    67000         6
8           0    91000         8
11          2    79000         7
5           0    59000         5

In [30]:
model.score(X_test,y_test)

0.8831508587877084

In [38]:
model.predict(X_train)

array([18334.98711015, 37253.37158166, 29092.4404792 , 23066.7113178 ,
       20625.31719153, 28367.87393216, 25076.77045949, 12749.10529242,
       20060.32704848, 26073.09558712])

In [37]:
Prediction = model.predict(X)
Data['Target_price'] = Prediction
Data

    Car Model  Mileage  Sell Price($)  Age(yrs)  Target_price
0           1    69000          18000         6  23066.711318
1           1    35000          34000         3  37253.371582
2           1    57000          26100         5  28083.154729
3           1    22500          40000         2  42485.482485
4           1    46000          31500         4  32668.263155
5           0    59000          29400         5  26073.095587
6           0    52000          32000         5  29092.440479
7           0    72000          19300         6  20625.317192
8           0    91000          12000         8  12749.105292
9           2    67000          22000         6  25076.770459
10          2    83000          20000         7  18334.987110
11          2    79000          21000         7  20060.327048
12          2    59000          33000         5  28367.873932