In [111]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
Data = pd.read_csv('D:/Python/File Handling/hiring.csv')
Data

Experience = Data.experience.fillna('Zero',inplace=True)
Label_Encoder = LabelEncoder()
Data['experience'] = Label_Encoder.fit_transform(Data['experience'])
Data
Data['test_score(out of 10)'] = Data['test_score(out of 10)'].fillna(Data['test_score(out of 10)'].median())
Data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           2                    6.0                           7      60000
3           6                   10.0                          10      65000
4           3                    9.0                           6      70000
5           5                    7.0                          10      62000
6           4                    8.0                           7      72000
7           1                    7.0                           8      80000

In [176]:
X = Data[['experience','test_score(out of 10)','interview_score(out of 10)']]
Y = Data['salary($)']
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.1)

model = linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [179]:
Predict = model.predict(X)
Predict

array([59527.27272727, 60072.72727273, 65054.54545455, 67418.18181818,
       64109.09090909, 68545.45454545, 66509.09090909, 62290.90909091])

In [180]:
Data['Prediction_of_Sal'] = Predict
Data

,experience,test_score(out of 10),interview_score(out of 10),salary($),Prediction_of_Sal
0,0,8.0,9,50000,59527.272727
1,0,8.0,6,45000,60072.727273
2,2,6.0,7,60000,65054.545455
3,6,10.0,10,65000,67418.181818
4,3,9.0,6,70000,64109.090909
5,5,7.0,10,62000,68545.454545
6,4,8.0,7,72000,66509.090909
7,1,7.0,8,80000,62290.909091